
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ff9d00;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-group button {
    background-color: #fe00f2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password {
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
}

.signup {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .container1 {
            max-width: 400px;
            margin: 0 auto;
            padding: 0px;
            border: 0px solid #ffbb00;
            background-color: #ff00ff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 95%;
            padding: 8px;
            font-size: 16px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        .form-group button {
            background-color: #8a05a2;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
        }
        .faixa {
            background-color: linear-gradient(135deg, #5da2ff, #000000);
            color: #000000;
            padding: 10px;
            text-align: center;
        }     
     